<div class="container">


  <div id="myCarousel" class="carousel slide" data-interval="500">

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item one active">
        <div>
          <br />
          <br />


          <div class="selectArea" id="selectArea1">

            <form>
              <div class="mui-select">
                <select id="firstDD">
                  <option>Select an area</option>
                  <option>Option 2</option>
                  <option>Option 3</option>
                  <option>Option 4</option>
                </select>
              </div>
            </form>
            Select your level of expertise/interest/etc.
            <div id="slider-1">
              <div id="custom-handle" class="ui-slider-handle"></div>
            </div>
            <h2>Checkbox</h2>


            <div class="rad">
              <input type="radio" id="radio01" name="radio" />
              <label for="radio01"><span></span>Option 1</label>
            </div>

            <div class="rad">
              <input type="radio" id="radio02" name="radio" />
              <label for="radio02"><span></span>Option 2</label>
            </div>
            <br/>
            <br/>  <br/>
          <br/>
            <button type="button" id="firstBtn" class="btn btn-success btn-lg nextButton">Next</button>
          </div>
        </div>
      </div>


      <div class="item two">
        <div>
          <br/>
          <br/>

          <div class="selectArea" id="selectArea2">
            <form>
              <div class="mui-select">
                <select id="secondDD">
                  <option>Select an area</option>
                  <option>Option 2</option>
                  <option>Option 3</option>
                  <option>Option 4</option>
                </select>
              </div>
            </form>
            Select your level of expertise/interest/etc.
            <div id="slider-2">
              <div id="custom-handle2" class="ui-slider-handle"></div>
            </div>
            <br/>
            <br/>
            <button type="button" id="back2" class="btn btn-success btn-lg" id="myBtn">Prev</button>
            <button type="button" id="secondBtn" class="btn btn-success btn-lg nextButton">Next</button>

          </div>
          <!-- HTML -->
        </div>
      </div>

      <div class="item three">
        <div>
          <br/>
          <br/>

          <div class="selectArea" id="selectArea3">
            <form>
              <div class="mui-select">
                <select id="thirdDD">
                  <option>Select an area</option>
                  <option>Option 2</option>
                  <option>Option 3</option>
                  <option>Option 4</option>
                </select>
              </div>
            </form>
            <br/>
            <br/>
            Select your level of expertise/interest/etc.
            <div id="slider-3">
              <div id="custom-handle3" class="ui-slider-handle"></div>
            </div>
            <br/>
            <br/>
            <button type="button" id="back3" class="btn btn-success btn-lg" id="myBtn">Prev</button>
            <button type="button" id="thirdBtn" class="btn btn-success btn-lg nextButton">Next</button>

          </div>
        </div>
      </div>

      <div class="item four">
      <br/>
      <br/>

        <div class="selectArea" id="selectArea4">
          <form>
            <div class="mui-select">
              <select id="fourthDD">
                <option>Select an area</option>
                <option>Option 2</option>
                <option>Option 3</option>
                <option>Option 4</option>
              </select>
            </div>
          </form>
          <br/>
          <br/>
          Select your level of expertise/interest/etc.
          <div id="slider-4">
            <div id="custom-handle4" class="ui-slider-handle"></div>
          </div>
        </div>


        <button id="submitProf" type="submit" class="mui-btn mui-btn--raised"  ng-click="submitProfile(); redoProfile()"> Submit Info</button>
      <button type="button" id="back4" class="btn btn-success btn-lg" id="myBtn">Prev</button>
      </div>
    </div>
    <ol class="carousel-indicators">
      <li class="item1 active"></li>
      <li class="item2"></li>
      <li class="item3"></li>
      <li class="item4"></li>
    </ol>
  </div>
</div>

<script>
  $(document).ready(function() {
    $(".item1,.item2,.item3,.item4").hover(function(){
      $(".item").css({"border-radius":"25%"})
    })



    //activate slider


    $(function() {
      var handle = $("#custom-handle");
      $("#slider-1").slider({
        value: 0,
        animate: "slow",
        orientation: "horizontal",
        create: function() {
          handle.text($(this).slider("value"));
        },
        slide: function(event, ui) {
          handle.text(ui.value);
        }
      });
    });

    $(function() {
      var handle = $("#custom-handle2");
      $("#slider-2").slider({
        value: 0,
        animate: "slow",
        orientation: "horizontal",
        create: function() {
          handle.text($(this).slider("value"));
        },
        slide: function(event, ui) {
          handle.text(ui.value);
        }
      });
    });

    $(function() {
      var handle = $("#custom-handle3");
      $("#slider-3").slider({
        value: 0,
        animate: "slow",
        orientation: "horizontal",
        create: function() {
          handle.text($(this).slider("value"));
        },
        slide: function(event, ui) {
          handle.text(ui.value);
        }
      });
    });


    $(function() {
      var handle = $("#custom-handle4");
      $("#slider-4").slider({
        value: 0,
        animate: "slow",
        orientation: "horizontal",
        create: function() {
          handle.text($(this).slider("value"));
        },
        slide: function(event, ui) {
          handle.text(ui.value);
        }
      });
    });


    $("#myCarousel").carousel("pause");

    $("#myBtn").click(function() {
      $("#myCarousel").carousel("next");
    });

    $("#firstBtn,#secondBtn,#thirdBtn").click(function() {
      $("#myCarousel").carousel("next");
    });


    $("#back2,#back3,#back4").click(function() {
      $("#myCarousel").carousel("prev");
    });

    $(".item1").click(function() {
      $("#myCarousel").carousel(0);
      $("#myCarousel").carousel("pause");
    });
    $(".item2").click(function() {
      $("#myCarousel").carousel(1);
      $("#myCarousel").carousel("pause");
    });
    $(".item3").click(function() {
      $("#myCarousel").carousel(2);
      $("#myCarousel").carousel("pause");
    });
    $(".item4").click(function() {
      $("#myCarousel").carousel(3);
      $("#myCarousel").carousel("pause");
    });

  });

</script>
