<section id="userFeed" >
 <h1>Your Feed</h1>

 <div>People you may be interested in</div>
 <ol>
 	<li> Richard</li>
 	<li> Milhous</li>
 	<li> Nixon</li>
 </ol>

<div ng-controller="questionCtrl" id="questionsOfInterest">
 <h1 id="questionsHome">Questions you may be interested in </h1>
 <button class="FilterButton mui-btn mui-btn--raised" ng-if="authService['otherQuestionsFilterOn']" ng-click="removeFilter('otherQuestions')">Remove Filter</button>
 <ul ng-repeat="question in getOtherQuestions()| orderBy:'-asked' ">
 	<div user-question/>
 </ul>

 </div>
 Etc...

</section>