<header>
  <div class="mui-container">
    <table width="100%">
      <tr class="mui--appbar-height">
        <td id="userName" class="mui--text-title"><a ui-sref="inside">Home</a></td>
        <td align="right">
        <form>
          <mui-textfield type="text" label="Email address" floating></mui-textfield>
          </form>
          <ul class="mui-list--inline mui--text-body2">
          <li>Hi, {{authService["userName"]}}!</li>
          <li><div class="mui-textfield mui-textfield--float-label">
    <input id="loginUserName" type="text">
    <label>Search!</label>
  </div></li>
            <li ng-click="getQuestions()"><a>Discover </a></li>
            <li><a ui-sref="profile">My Profile</a></li>
            <div class="mui-dropdown">
              <button class="mui-btn mui-btn--primary" data-mui-toggle="dropdown">
                Questions!
                <span class="mui-caret"></span>
              </button>
              <ul class="mui-dropdown__menu">
                <li><a ui-sref="textQuestion">Write a ?</a></li>
                <li><a ui-sref="videoQuestion">Record a ?</a></li>
                <li><a ui-sref="listOfQuestions">Answer!</a></li>
              </ul>
            </div>
             <li><a ui-sref="inside" ng-click="logout()">Logout</a></li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
</header>

<br/>
<br/>
<br/>