   <header>
      <div class="mui-container">
        <table width="100%">
          <tr class="mui--appbar-height">
            <td class="mui--text-title">UltimApp</td>
            <td align="right">
              <ul class="mui-list--inline mui--text-body2">
                <li><a  ui-sref="login" onclick="alert('Coming Soon!')">About</a></li>
                <li><a ui-sref="login">Login</a></li>
                <li><a ui-sref="signup">Signup</a></li>
              </ul>
            </td>
          </tr>
        </table>
      </div>
    </header>

    <section id="fixedLanding">
      <h1 id="header">Info</h1>
       <br/>
      <h2>This will be text describing the app's purpose</h2>
    </section>

    <section id="benefits">
    <h1>Benefits</h1>
      <div id="leftBenes">
        <div id="Benefit1">
        <div class="card-container">
          <div class="card">
            <div class="side"><img src="http://bit.ly/2eySlHU"></div>
            <h2 class="side back">Benefit1</h2>
          </div>
        </div>
        </div>
        <div id="Benefit2">
        <div class="card-container">
          <div class="card">
            <div class="side"><img src="http://bit.ly/2eySlHU"></div>
            <h2 class="side back">Benefit2</h2>
          </div>
        </div>
      </div>
      </div>
    <div id="rightBenes">
        <div id="Benefit3">
        <div class="card-container">
          <div class="card">
            <div class="side"><img src="http://bit.ly/2eySlHU"></div>
            <h2 class="side back">Benefit3</h2>
          </div>
        </div>
        </div>
        <div id="Benefit4">
        <div class="card-container">
          <div class="card">
            <div class="side"><img src="http://bit.ly/2eySlHU"></div>
            <h2 class="side back">Benefit4</h2>
          </div>
        </div>
      </div>
      </div>
      <footer class="footer">
        <div class="mui-container mui--text-center">
         <a href="https://krishanmarya.herokuapp.com/"> <h1 id="loveKMA">Made with ♥ by KMA</h1></a>
        </div>
      </footer>

    </section>

<script>
    $(window).scroll(function(){            
            var bottom_of_object = $('.footer').offset().top + $('.footer').outerHeight();
            var bottom_of_window = $(window).scrollTop() + $(window).height();

            if (bottom_of_object-bottom_of_window < 68 ){
                $('.footer').animate({'opacity':'1'}, 500);
            }
        }); 
</script>