   <header>
      <div class="mui-container">
        <table width="100%">
          <tr class="mui--appbar-height">
            <td class="mui--text-title">UltimApp</td>
            <td align="right">
              <ul class="mui-list--inline mui--text-body2">
                <li><a href="#">About</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Signup</a></li>
              </ul>
            </td>
          </tr>
        </table>
      </div>
    </header>

    <section id="fixedLanding">
      <h1 id="header">Info</h1>
      <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida cursus ipsum quis pretium.</h2>
    </section>

    <section id="benefits">
      <div id="leftBenes">
        <div id="Benefit1">
        <div class="card-container">
          <div class="card">
            <div class="side"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/jimmy.jpg" alt="Jimmy Eat World"></div>
            <div class="side back">Benefit1</div>
          </div>
        </div>
        </div>
        <div id="Benefit2">
        <div class="card-container">
          <div class="card">
            <div class="side"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/jimmy.jpg" alt="Jimmy Eat World"></div>
            <div class="side back">Benefit2</div>
          </div>
        </div>
      </div>
      </div>
    <div id="rightBenes">
        <div id="Benefit3">
        <div class="card-container">
          <div class="card">
            <div class="side"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/jimmy.jpg" alt="Jimmy Eat World"></div>
            <div class="side back">Benefit3</div>
          </div>
        </div>
        </div>
        <div id="Benefit4">
        <div class="card-container">
          <div class="card">
            <div class="side"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/jimmy.jpg" alt="Jimmy Eat World"></div>
            <div class="side back">Benefit4</div>
          </div>
        </div>
      </div>
      </div>
      <footer>
        <div class="mui-container mui--text-center">
          Made with ♥ by KMA
        </div>
      </footer>

    </section>