<div id="logInView">
<form>
  <legend>Login!</legend>
  <div class="mui-textfield mui-textfield--float-label">
    <input id="loginUserName" ng-model="userNameLogin" type="text">
    <label>UserName</label>
  </div>
   <div class="mui-textfield mui-textfield--float-label">
    <input id="loginPassword" ng-model="passwordLogin" type="password">
    <label>Password</label>
  </div>

  <button type="submit" class="mui-btn mui-btn--raised" ng-click="login(userNameLogin,passwordLogin)">Submit</button>
</form>
</div>